* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.text-zagolovok {
    text-align: center;
  }

.main-container {
    display: flex;
    gap: 32px;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.products-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.product {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25% - 16px);
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

/*@media (max-width: 400px) {
    .product {
        padding: 7px;
    }
}
*/

.product:hover { 
    border-radius: 5px;
    transform: scale(1.09, 1.09);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
 }

.product-image {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}

.product-name {
    text-align: center;
    font-weight: bold;
    line-height: 28px;
    height: 56px;
    font-size: 24px;
    margin-top: 10px;
}

.product-price {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

.product-quality {
    text-align: center;
    margin-top: 10px;
}

.add-to-cart-button {
    font-size: 14px;
    background-color: #ffe23e;
    text-align: center;
    display: block;
    margin: 10px auto 0 auto;
    padding: 6px 12px;
    border-color: rgb(0, 0, 5);
    border: 2px;
    border-radius: 12px;
    cursor:pointer; 
}

.add-to-cart-button:hover { 
    background:#ebd039; 
}

.cart-container {
    width: calc(30% - 32px);
}

.cart-inner-container {
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}
.cart-inner-container:hover {
    transform: scale(1.06, 1.06);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.cart-title {
    font-size: 24px;
    font-weight: bold;
}

.cart-content {
    margin-top: 15px;
}

.cart-item {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid rgb(252, 226, 226);
}

.cart-item__name {
    flex: 1 0 60%;
}

.cart-item__count {
    flex: 1 0 20%;  
    text-align: left;
}

.cart-item__price {
    flex: 1 0 20%; 
    text-align: right;
}

.cart-total {
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.modal_opened {
    display: block;
}

.modal_closed {
    display: none;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display:flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    width: 600px;
    min-height: 200px;
    padding: 36px;
    background-color: white;
    position: relative;
    flex: 0 0 auto;
}

.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: white;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

.modal-close-button:hover {
    background-color: rgba(255, 49, 49, 0.999);
}
.place-order-form__input-container {
    margin-bottom: 16px;
}

.place-order-form__label {
    display: block;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 4px;
}

.place-order-form__input {
    border: 1px solid #777;
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 16px;
    border-radius: 4px;
}

.place-order-form__buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.button {
    display: inline-block;
    font-size: 18px;
    line-height: 10px;
    padding: 14px 26px;
    border: 2px;
    border-color: rgb(0, 0, 5);
    border-radius: 19px;
    background-color: #ffe23e;;
    color: rgb(0, 0, 5);
    cursor: pointer;
}
.place-order-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.place-order-button:hover {
    background:#f9db31;  
    border-radius: 14px;
    transform: scale(1.06, 1.06);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.place-order-form__submit-button {
    background-color: #ffe23e;
    color: rgb(0, 0, 5);
}
.place-order-form__submit-button:hover {
    background:#f9db31;  
    border-radius: 14px;
    transform: scale(1.06, 1.06);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.order-cancel-button {
    background-color: rgb(248, 232, 232);
    color: rgb(0, 0, 5);
}

.order-cancel-button:hover {
    background-color: rgb(247, 75, 75);
    border-radius: 14px;
    transform: scale(1.06, 1.06);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.orders-container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.orders-inner-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 24px;
    gap: 32px;
}

.order {
    flex-basis: calc(33% - 16px);
    padding: 12px;
    max-width: 400px;
    margin-bottom: 40px;
    border-radius: 14px;
}

.order:hover {
    transform: scale(1.06, 1.06);
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.order-date {
    padding: 10px 0;
}   

.order-id {
    font-weight: bold;
}

.order-client, 
.order-client-email{
    padding: 10px 0;
}

.order-cart {
    max-width: 360px;
}
