* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.text-zagolovok {
    text-align: center;
  }

.main-container {
    display: flex;
    gap: 32px;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.products-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.product {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(25% - 16px);
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px;
}

.product:hover { 
    background-color: rgb(175, 233, 214);
 }

.product-image {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}

.product-name {
    text-align: center;
    font-weight: bold;
    line-height: 28px;
    height: 56px;
    font-size: 24px;
    margin-top: 10px;
}

.product-price {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

.product-quality {
    text-align: center;
    margin-top: 10px;
}

.add-to-cart-button {
    background-color: #fee618b5;
    text-align: center;
    display: block;
    margin: 10px auto 0 auto;
    text-transform: uppercase;
    padding: 6px 12px;
    border: 2px solid black;
    border-radius: 4px;
}

.cart-container {
    width: calc(30% - 32px);
}

.cart-inner-container {
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px;
}

.cart-title {
    font-size: 24px;
    font-weight: bold;
}

.cart-content {
    margin-top: 15px;
}

.cart-item {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid black;
}

.cart-item__name {
    flex: 1 0 60%;
}

.cart-item__count {
    flex: 1 0 20%;  
    text-align: right;
}

.cart-item__price {
    flex: 1 0 20%; 
    text-align: right;
}

.cart-total {
    padding: 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.modal_opened {
    display: block;
}

.modal_closed {
    display: none;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display:flex;
    align-items: center;
    justify-content: center;
}

.modal-container {
    width: 600px;
    min-height: 200px;
    padding: 36px;
    background-color: white;
    position: relative;
    flex: 0 0 auto;
}

.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: white;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

.place-order-form__input-container {
    margin-bottom: 16px;
}

.place-order-form__label {
    display: block;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 4px;
}

.place-order-form__input {
    border: 1px solid #777;
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 16px;
    border-radius: 4px;
}

.place-order-form__buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.button {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    padding: 16px 32px;
    border: 1px solid #777;
    border-radius: 4px;
    color: black;
    background-color: #eee;
    cursor: pointer;
}

.place-order-form__submit-button {
    background-color: rgb(55, 90, 233);
    color: white;
    border-color: rgb(43, 71, 184);
}
